@use '../abstracts/' as *;

.navbar {
  background: $complementaryColor;
  color: $primaryColor;

  .navbar-brand, .nav-link {  
    color: $primaryColor;

    &:hover {
      color: $brandColor;
    }
  }
}